In [ ]:
import random

In [ ]:
names = []

# Student_1.....Student_50
for i in range(1,51):
  names.append("Student_" +str(i))

print(names)

['Student_1', 'Student_2', 'Student_3', 'Student_4', 'Student_5', 'Student_6', 'Student_7', 'Student_8', 'Student_9', 'Student_10', 'Student_11', 'Student_12', 'Student_13', 'Student_14', 'Student_15', 'Student_16', 'Student_17', 'Student_18', 'Student_19', 'Student_20', 'Student_21', 'Student_22', 'Student_23', 'Student_24', 'Student_25', 'Student_26', 'Student_27', 'Student_28', 'Student_29', 'Student_30', 'Student_31', 'Student_32', 'Student_33', 'Student_34', 'Student_35', 'Student_36', 'Student_37', 'Student_38', 'Student_39', 'Student_40', 'Student_41', 'Student_42', 'Student_43', 'Student_44', 'Student_45', 'Student_46', 'Student_47', 'Student_48', 'Student_49', 'Student_50']

In [ ]:
random.seed(3)

birth_year = []

for i in range(50):
  birth_year.append(random.randint(1988,2002))

print(birth_year)

[1991, 1997, 1996, 1990, 1993, 2002, 1997, 1995, 1998, 1997, 1989, 1997, 1988, 2002, 2001, 1995, 1992, 1996, 1991, 1991, 1999, 1995, 1996, 2001, 1996, 1995, 1994, 1998, 2001, 1990, 1991, 1998, 1990, 2001, 2002, 1996, 1994, 1999, 1988, 1998, 2000, 1989, 1990, 2000, 1997, 1988, 1992, 2000, 1988, 2001]

In [ ]:
b2 = []

for i in range(50):
  b2.append(random.randrange(1988,2002))
print(b2)

[1996, 1997, 1997, 1989, 1999, 1998, 1991, 1998, 2001, 1997, 1992, 1992, 1989, 1989, 1995, 2001, 1998, 1995, 1989, 1993, 2000, 1989, 1994, 1990, 1988, 1992, 1994, 2000, 1994, 2001, 1989, 1988, 1997, 1997, 2000, 1988, 1994, 1999, 1997, 1993, 1996, 1992, 1996, 1991, 1988, 1992, 1988, 1989, 1989, 1997]

In [ ]:
student_attitude = []

num = 0

while num < 50:
  student_attitude.append(random.choice(["Positive", "Neutral", "Negative"]))
  num += 1
  # print(num)


print(student_attitude)
print(len(student_attitude))

['Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Neutral', 'Neutral', 'Negative', 'Positive', 'Neutral', 'Positive', 'Positive', 'Neutral', 'Negative', 'Negative', 'Positive', 'Negative', 'Neutral', 'Neutral', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Neutral', 'Negative', 'Positive', 'Neutral', 'Neutral', 'Negative', 'Positive', 'Negative', 'Neutral', 'Negative', 'Positive', 'Neutral', 'Neutral', 'Negative', 'Neutral', 'Neutral', 'Neutral', 'Negative', 'Neutral', 'Neutral', 'Neutral', 'Negative', 'Neutral', 'Positive', 'Neutral', 'Positive']
50

In [ ]:
student_score = []

# from 0 - 100

for i in range(50):
  student_score.append(random.randint(0,100))

print(student_score)

[16, 32, 69, 61, 100, 7, 45, 28, 25, 15, 68, 15, 21, 30, 35, 16, 0, 62, 80, 73, 51, 6, 96, 34, 31, 34, 79, 67, 66, 54, 6, 60, 41, 99, 0, 7, 99, 16, 5, 15, 6, 8, 61, 4, 91, 11, 65, 64, 62, 40]

In [ ]:
for i in ["i", "j", "k"]:
  print (i)

i
j
k